config/database.yml
config/sqlite.yml
config/mysql.yml
config/testconfig1.yml
test/fixtures/public/images/akelos_framework_logo.png.gif
test/fixtures/public/images/akelos_framework_logo.png.jpg
test/fixtures/public/images/akelos_framework_logo.png_300x300.png
test/fixtures/public/images/akelos_framework_logo.png_340x150.png
test/fixtures/public/images/akelos_framework_logo.png_50x22.jpg
test/fixtures/public/images/akelos_framework_logo.png_680x300.png
test/fixtures/public/images/akelos_framework_logo.png_85x37.png
test/fixtures/public/images/akelos_framework_logo.png_x300.png
test/fixtures/public/images/cristobal.jpg
test/fixtures/public/images/cristobal.jpg_30x30_crop.jpg
test/fixtures/public/images/cristobal.jpg_50_crop.jpg
test/fixtures/public/images/cristobal.jpg_brightness.jpg
test/fixtures/public/images/cristobal.jpg_colorize.jpg
test/fixtures/public/images/cristobal.jpg_contrast.jpg
test/fixtures/public/images/cristobal.jpg_detect_edges.jpg
test/fixtures/public/images/cristobal.jpg_emboss.jpg
test/fixtures/public/images/cristobal.jpg_gaussian_blur.jpg
test/fixtures/public/images/cristobal.jpg_grayscale.jpg
test/fixtures/public/images/cristobal.jpg_negate.jpg
test/fixtures/public/images/cristobal.jpg_selective_blur.jpg
test/fixtures/public/images/cristobal.jpg_sketch.jpg
test/fixtures/public/images/cristobal.jpg_smooth.jpg
test/fixtures/public/images/cristobal.jpg_watermarked.jpg
test/fixtures/public/images/cristobal.jpgtop_crop.jpg
test/fixtures/public/images/watermark.png
test/tmp/
test/report/
test/fixtures/app/locales/
test/fixtures/app/plugin_installer_target_class.php
app/plugin_installer_target_class.php
app/locales/
private/
